<%- include('./partials/head.ejs'); %>
<body class="marketPlant">
    <%- include('./partials/nav.ejs'); %>

    <button id="toggleSearchBar" class="toggle-button">Search</button>
     <div id="searchBarContainer" class="searchbar hidden">
    <form action="/marketplace" method="get"> 
        <input type="text" name="search" placeholder="Search by title or content">
        <input type="number" name="minPrice" placeholder="Min Price">
        <input type="number" name="maxPrice" placeholder="Max Price"> 
        <button type="submit">Search</button> 
    </form> 
    </div>
    <div class="marketplace">
        
        <% posts.forEach(post => { %>
            <div class="post">
                <h2>Title : <%= post.title %></h2>
                <p>Content : <%= post.content %></p>
                <p>Posted by : <%= post.username %></p>
                <p>Price :<%= post.price %>€</p>
                <% if (post.imagePath) { %>
                    <img src="<%= post.imagePath.replace('/public', '') %>" alt="Post image">
                <% } %>
                <% if (loggedIn && (role === 'ROLE_ADMIN' || post.userId === userId)) { %>
                    <!-- <form action="/admin/posts/<%= post.id %>/edit" method="get" style="display:inline;">
                        <button type="submit">Edit</button>
                    </form> -->
                    <form action="/admin/posts/<%= post.id %>?action=delete" method="post" class="delete">
                        <button type="submit" >Delete</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>

</body>
<script>
    document.getElementById('toggleSearchBar').addEventListener('click', function() {
        var searchBarContainer = document.getElementById('searchBarContainer');
        if (searchBarContainer.classList.contains('hidden')) {
            searchBarContainer.classList.remove('hidden');
        } else {
            searchBarContainer.classList.add('hidden');
        }
    });
</script>

<div class="gif-container"></div>
<%- include('./partials/footer.ejs'); %>
